
<h2 mat-dialog-title>Search By:</h2>

<mat-dialog-content >
  <div class='module' appearance="outline" >
            <select 
            [(ngModel)]="FilterBySearch" required name="FilterBySearch"  >
                <option value="">--Select--</option>
                <option value="Name"> Customer Name</option>
                <option value="Phone">Customer Phone</option>
                <option value="Pan">Pan Card</option>
                <option value="Passport">Passport</option>
                <option value="VotterId">Votter Id Card</option>
                <option value="DL">Driving License</option>
                <option value="Aadhar">Aadhar Card</option>
                <option value="ElectricityBill">Electricity Bill</option>
                <option value="RationCard">Ration Card</option>
                
              </select>
            </div>

  <mat-form-field appearance="outline" style="width:100%;">
    
    <input matInput placeholder="Search..." [(ngModel)]="searchby" required/>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button style="color: white; border-radius: 5px;"
  (click)= loadCustomerSearch() [disabled]="isSearchDisabled" >Search</button>
  <button mat-button mat-dialog-close  style="color: white; border-radius: 5px;" >Close</button>
  <div *ngIf="dataSource?.data && dataSource.data.length > 0" style="max-height: 400px; overflow: auto; border: 1px solid #ccc; border-radius: 4px;">

<table  
mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

  
  <ng-container matColumnDef="CustomertName">
    <th mat-header-cell *matHeaderCellDef> Customer Name </th>
    <td mat-cell *matCellDef="let element"> {{element.CustomertName}} </td>
  </ng-container>


  <ng-container matColumnDef="Customer_Gender">
    <th mat-header-cell *matHeaderCellDef>Gender </th>
    <td mat-cell *matCellDef="let element"> {{element.Customer_Gender}} </td>
  </ng-container>

  
  <ng-container matColumnDef="GenderAge">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.GenderAge}} </td>
  </ng-container>

  <ng-container matColumnDef="PhoneNo">
    <th mat-header-cell *matHeaderCellDef> Phone No. </th>
    <td mat-cell *matCellDef="let element"> {{element.PhoneNo}} </td>
  </ng-container>

   <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef> Select </th>
    <td mat-cell *matCellDef="let element" >
     <input 
     type="checkbox" 
     name="selectedCustomer"
     (change)="onSelectCustomer(element)"
     [checked]="selectedCustomer === element"
     />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  

</table>

<button 
  *ngIf="showTable"
  (click)="loadSaveButton()"
  style="border: none; width: 60px; height: 40px; border-radius: 5px; cursor: pointer;">
  Save
</button>
</div>

</mat-dialog-actions>