<div class="form-container">
  <h2>Add Customer</h2>

  <form (ngSubmit)="saveCustomer()" #customerForm="ngForm">
    <label>Type</label>
    <select [(ngModel)]="customer.type" name="type" required>
      <option>Individual</option>
      <option>Corporate</option>
    </select>

    <h3 class="heading">KYC Documents</h3>
    <div class="kyc-documents">
      <div>
        <div><label>Document Type<span class="text-danger">*</span></label></div>
        <div>
          <select  [(ngModel)]="customer.KYC_DocId" name="documentType" required>
          <option value="">--Select Document Type--</option>
          <option value="6"> Aadhaar Card </option>
          <option value="22"> CKYC ID /O</option>
          <option value="48"> DIN </option>
          <option value="5"> Driving License </option>
          <option value="2">  Electricity Bill  </option>
          <option value="28">  Firm Registration No </option>
          <option value="33">  Form-60  </option>
          <option value="29">  GST No  </option>
           <option value="49">  MSME Registration  </option>
          <option value="42">  OCR Aadhaar </option>
          <option value="7">  Other Photo ID  </option>
          <option value="1">  PAN Card  </option>
          <option value="3">   Passport Copy   </option>
          <option value="21">  Ration Card </option>
          <option value="30">  Tan No. </option>
          <option value="4">  Voter ID Card  </option>
        </select>
        </div>
      </div>

      <div>
        <label>Document Number<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="customer.KYC_DocNumber" name="KYC_DocNumber" required />
      </div>

      <div class="col-md-2 text-center">
        <label class="form-label fw-bold">Document Image</label>
        <input type="file" id="documentImage" class="d-none" (change)="onFileSelected($event)" />
        <label for="documentImage" class="btn btn-outline-primary">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
        </label>
        <div *ngIf="previewUrl">
          <img [src]="previewUrl" alt="Preview" width="100" class="mt-2" />
        </div>
      </div>
    </div>

    <h3 class="heading">Demographic Information</h3>

    <div class="address">
      <div>
        <label class="form-label fw-bold">Profile Image</label>
        <input type="file" id="profileImage" class="d-none" (change)="onFileSelected($event)" />
        <label for="profileImage" class="btn btn-outline-primary">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
        </label>
        <div *ngIf="previewUrl">
          <img [src]="previewUrl" alt="Preview" width="100" class="mt-2" />
        </div>
      </div>

      <div>
        <label>First Name<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="customer.Customer_FirstName" name="firstName" required />
      </div>

      <div>
        <label>Last Name<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="customer.Customer_LastName" name="lastName" required />
      </div>

      <div>
        <label>Relation <span class="text-danger">*</span></label>
        <select [(ngModel)]="customer.Customer_Relation_Type" name="relation" required>
          <option value="">Select</option>
          <option value="C/O">C/O</option>
          <option value="S/O">S/O</option>
          <option value="D/O">D/O</option>
          <option value="W/O">W/O</option>
        </select>
      </div>
      <div>
        <label>First Name<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="customer.Customer_Relation_FirstName" name="firstName" required />
      </div>

      <div>
        <label>Last Name<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="customer.Customer_Relation_LastName" name="lastName" required />
      </div>


      <div>
        <label>Gender <span class="text-danger">*</span></label>
        <select [(ngModel)]="customer.Customer_Gender" name="Gender" required>
          <option value="">Select</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>


      <div>
        <label>DOB<span class="text-danger">*</span></label>
        <input type="date" [(ngModel)]="customer.Customer_DOB" name="dob" (change)="calculateAge()" required />
      </div>

      <div>
        <label>Age</label>
        <input type="number" [(ngModel)]="customer.age" name="age" readonly />
      </div>


      <div *ngIf=" customer.age && customer.age < 18">
        <small class="text-danger">Customer must be at least 18 years old.</small>
      </div>

      <div>
        <label>Primary Contact<span class="text-danger">*</span></label>

        <input type="text" [(ngModel)]="customer.Customer_PhoneNo" name="contact" required pattern="^[0-9]{6}$"
          maxlength="10" />
      </div>

      <div>
        <label>WhatsApp No</label>
        <input type="text" [(ngModel)]="customer.Customer_WhatsAppNo" name="whatsapp" pattern="^[0-9]{6}$"
          maxlength="10" />
      </div>
      <div>
        <label>Alternate No</label>
        <input type="text" [(ngModel)]="customer.Customer_PhoneNo1" name="altContact" pattern="^[0-9]{6}$"
          maxlength="10" />
      </div>

      <div>
        <label>Email</label>
        <input type="email" [(ngModel)]="customer.Customer_Email" name="email" />
      </div>
      <div>
        <label> Other Email</label>
        <input type="email" [(ngModel)]="customer.Customer_Other_Email" name="email" />
      </div>



      <div><label>Marital Status<span class="text-danger">*</span></label>
        <select [(ngModel)]="customer.Customer_MaritalStatus" name="maritalStatus" required>
          <option value="">--Select--</option>
          <option value="Married">Married</option>
          <option value="UnMarried">UnMarried</option>
          <option value="Widow">Widow/Widower</option>
          <option value="Divorced">Divorced</option>
          <option value="Separated">Separated</option>
        </select>
      </div>

      <div>
        <label>Customer Religion<span class="text-danger">*</span></label>
        <select [(ngModel)]="customer.Customer_Religion" name="religion" required>
          <option value="">--Select--</option>
          <option>Hindu</option>
          <option>Muslim</option>
          <option>Christian</option>
          <option>Sikh</option>
          <option>Other</option>

        </select>
      </div>
      <div>
        <label>Customer Caste<span class="text-danger">*</span></label>
        <select [(ngModel)]="customer.Customer_Cast" name="Cast" required>
          <option value="">--Select--</option>
          <option value="General">General</option>
          <option value="OBC">OBC</option>
          <option value="SC">SC</option>
          <option value="ST">ST</option>
          <option value="Other">Other</option>

        </select>
      </div>

      <div>
        <label>Customer Profile<span class="text-danger">*</span></label>
        <select [(ngModel)]="customer.Customer_Profile" name="profile" (ngModelChange)="loadCustomercategory($event)">
          <option value="">--Select--</option>
          <option *ngFor="let profile of profile" [value]="profile.Id">{{ profile.Value }}</option>
        </select>
      </div>
      <div>
        <label>Customer Category <span class="text-danger">*</span></label>
        <select [(ngModel)]="customer.Customer_Category" name="category"
          (ngModelChange)="loadCustomerSubcategory($event)" required>
          <option value="">--Select--</option>
          <option *ngFor="let category of catergory" [value]="category.Id">{{ category.Value }}</option>
        </select>
      </div>
      <div>
        <label>Customer Sub-Category <span class="text-danger">*</span></label>
        <select [(ngModel)]="customer.Customer_SubCategory" name="subcategory"
          (ngModelChange)="loadCustomerNatureOfWork($event)" required>
          <option value="">-Select--</option>
          <option *ngFor="let subcategory of subcatergory" [value]="subcategory.Id">{{ subcategory.Value }}</option>
        </select>
      </div>
       <div>
        <label>Nature Of Work<span class="text-danger">*</span></label>
        <select [(ngModel)]="customer.Customer_Natureofwork" name="Customer_Natureofwork" required>
          <option value="">--Select--</option>
          <option *ngFor="let Natureofwork of Natureofwork" [value]="Natureofwork.Id">{{
            Natureofwork.Value}}</option>
        </select>
      </div>
      <div>
        <label>Type<span class="text-danger">*</span></label>
        <select [(ngModel)]="customer.BusinessCategory" name="BusinessCategory" required>
          <option value="">--Select--</option>
          <option *ngFor="let BusinessCategory of BusinessCategory" [value]="BusinessCategory.Id">{{
            BusinessCategory.Value}}</option>
        </select>
      </div>


    </div>

    <div>
      <h3 class="heading">Customer Address</h3>
      <h4 class="address">Present Address:</h4>
      <div class="address1">
        <div class="address">

          <div>
            <label>Address<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="address.AddressS" name="address" required />
          </div>

          <div>
            <label>Landmark<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="address.LandMarkS" name="landmark" required />
          </div>

          <div>
            <label>State<span class="text-danger">*</span></label>
            <select [(ngModel)]="address.StateIdS" name="state" (ngModelChange)="loadDistricts($event)" required>
              <option value="">--Select--</option>
              <option *ngFor="let s of states" [value]="s.StateId">{{ s.State_Name }}</option>
            </select>
          </div>

          <div>
            <label>District<span class="text-danger">*</span></label>
            <select [(ngModel)]="address.DistrictIdS" name="district" (ngModelChange)="loadTehsils($event)" required>
              <option value="">--Select--</option>
              <option *ngFor="let d of district" [value]="d.DistrictId">{{ d.District_Name }}</option>
            </select>
          </div>

          <div>
            <label>Tehsil<span class="text-danger">*</span></label>
            <select [(ngModel)]="address.TehsilIdS" name="tehsil" required>
              <option value="">--Select--</option>
              <option *ngFor="let t of tehsil" [value]="t.TehsilId">{{ t.Tehsil_Name }}</option>
            </select>
          </div>

          <div>
            <label>Pincode</label>
            <input type="text" [(ngModel)]="address.PinCodeS" name="pincode" required pattern="^[0-9]{6}$" maxlength="6"
              #pincode="ngModel" />
            <div *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)">
              <small class="text-danger" *ngIf="pincode.errors?.['required']">
                Pincode is required.
              </small>
              <small class="text-danger" *ngIf="pincode.errors?.['pattern']">
                Pincode must be exactly 6 digits.
              </small>
            </div>
          </div>
          <div>
            <label>No of Living Here<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="address.NoOfLivingS" name="NoOfLiving" maxlength="2"
              oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
          </div>
          <div>
            <label>Rent/Own<span class="text-danger">*</span></label>
            <select [(ngModel)]="address.RentOwnS" name="RentOwn" required>
              <option value="">--Select--</option>
              <option>Rent</option>
              <option>Own</option>
            </select>
          </div>
          <div>
            <label>Distance To Branch(KM)<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="address.DistanceBranchS" name="NoOfLiving" maxlength="2"
              placeholder="Distance From Branch"
              oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
          </div>
          <div class="communicationaddress">
            <input class="box" type="checkbox" [(ngModel)]="address.IsCommunicationAddress" name="NoOfLiving"
              maxlength="2" placeholder="Distance From Branch"
              oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
            <label calss="communicate">Is This Cummunication Address<span class="text-danger">*</span></label>
          </div>
        </div>
      </div>
      <h4>Parmanent Address:</h4>
     <div class="communicationaddress">
  <input 
    class="box" 
    type="checkbox" 
    [(ngModel)]="address.NoOfLivingpermanent" 
    (change)="sameAsParmanent()" 
     name="NoOfLivingpermanent"  
  />
  <label>Select if Permanent Address same as Present Address</label>
</div>

      <div class="address1">
        <div class="address">
          <div>
            <label>Address<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="customerPermanent.Address" name="address" required />
          </div>

          <div>
            <label>Landmark<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="customerPermanent.LandMark" name="landmark" required />
          </div>

          <div>
            <label>State<span class="text-danger">*</span></label>
            <select [(ngModel)]="customerPermanent.StateId" name="state" (ngModelChange)="loadDistricts($event)" required>
              <option value="">--Select--</option>
              <option *ngFor="let s of states" [value]="s.StateId">{{ s.State_Name }}</option>
            </select>
          </div>

          <div>
            <label>District<span class="text-danger">*</span></label>
            <select [(ngModel)]="customerPermanent.DistrictId" name="district" (ngModelChange)="loadTehsils($event)" required>
              <option value="">--Select--</option>
              <option *ngFor="let d of district" [value]="d.DistrictId">{{ d.District_Name }}</option>
            </select>
          </div>

          <div>
            <label>Tehsil<span class="text-danger">*</span></label>
            <select [(ngModel)]="customer.tehsil" name="tehsil" required>
              <option value="">--Select--</option>
              <option *ngFor="let t of tehsil" [value]="t.Tehsil">{{ t.Tehsil_Name }}</option>
            </select>
          </div>

          <div>
            <label>Pincode</label>
            <input type="text" [(ngModel)]="customerPermanent.PinCode" name="pincode" required pattern="^[0-9]{6}$" maxlength="6"
              #pincode="ngModel" />
            <div *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)">
              <small class="text-danger" *ngIf="pincode.errors?.['required']">
                Pincode is required.
              </small>
              <small class="text-danger" *ngIf="pincode.errors?.['pattern']">
                Pincode must be exactly 6 digits.
              </small>
            </div>
          </div>
          <div>
            <label>No of Living Here<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="customerPermanent.NoOfLiving" name="customerPermanent.NoOfLiving" maxlength="2"
              oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
          </div>
          <div>
            <label>Rent/Own<span class="text-danger">*</span></label>
            <select [(ngModel)]="customerPermanent.RentOwn" name="RentOwn" required>
              <option value="">--Select--</option>
              <option>Rent</option>
              <option>Own</option>
            </select>
          </div>
          <div>
            <label>Distance To Branch(KM)<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="customerPermanent.DistanceBranch" name="customerPermanent.DistanceBranch" maxlength="2"
              placeholder="Distance From Branch"
              oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
          </div>
          <div class="communicationaddress">
            <input class="box" type="checkbox" [(ngModel)]="customerPermanent.IsCommunicationAddress" name="NoOfLiving" maxlength="2"
              placeholder="Distance From Branch"
              oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
            <label calss="communicate">Is This Cummunication Address<span class="text-danger">*</span></label>
          </div>
          <div></div>



        </div>
      </div>
      <h4>Work Address:</h4>
      <div class="address1">
        <div class="address">

          <div>
            <label>Address<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="customerWork.AddressW" name="address" required />
          </div>

          <div>
            <label>Landmark<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="customerWork.LandMarkW" name="landmark" required />
          </div>

          <div>
            <label>State<span class="text-danger">*</span></label>
            <select [(ngModel)]="customerWork.StateIdW" name="state" (ngModelChange)="loadDistricts($event)" required>
              <option value="">--Select--</option>
              <option *ngFor="let s of states" [value]="s.StateId">{{ s.State_Name }}</option>
            </select>
          </div>

          <div>
            <label>District<span class="text-danger">*</span></label>
            <select [(ngModel)]="customerWork.DistrictIdW" name="district" (ngModelChange)="loadTehsils($event)" required>
              <option value="">--Select--</option>
              <option *ngFor="let d of district" [value]="d.DistrictId">{{ d.District_Name }}</option>
            </select>
          </div>

          <div>
            <label>Tehsil<span class="text-danger">*</span></label>
            <select [(ngModel)]="customerWork.TehsilIdW" name="tehsil" required>
              <option value="">--Select--</option>
              <option *ngFor="let t of tehsil" [value]="t.Tehsil">{{ t.Tehsil_Name }}</option>
            </select>
          </div>

          <div>
            <label>Pincode</label>
            <input type="text" [(ngModel)]="customerWork.PinCodeW" name="pincode" required pattern="^[0-9]{6}$" maxlength="6"
              #pincode="ngModel" />
            <div *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)">
              <small class="text-danger" *ngIf="pincode.errors?.['required']">
                Pincode is required.
              </small>
              <small class="text-danger" *ngIf="pincode.errors?.['pattern']">
                Pincode must be exactly 6 digits.
              </small>
            </div>
          </div>
          <div>
            <label>No of Living Here<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="customerWork.NoOfLivingW" name="NoOfLiving" maxlength="2"
              oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
          </div>
          <div>
            <label>Rent/Own<span class="text-danger">*</span></label>
            <select [(ngModel)]="customerWork.RentOwnW" name="RentOwn" required>
              <option value="">--Select--</option>
              <option>Rent</option>
              <option>Own</option>
            </select>
          </div>
          <div>
            <label>Distance To Branch(KM)<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="customerWork.DistanceBranchW" name="NoOfLiving" maxlength="2"
              placeholder="Distance From Branch"
              oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
          </div>
          <div class="communicationaddress">
            <input class="box" type="checkbox" [(ngModel)]="customerWork.IsCommunicationAddressW" name="NoOfLiving" maxlength="2"
              placeholder="Distance From Branch"
              oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
            <label calss="communicate">Is This Cummunication Address<span class="text-danger">*</span></label>
          </div>
          <div></div>



        </div>
      </div>
    </div>

    <div class="btn-container">
      <button class="button" type="submit" [disabled]="customer.age <= 18">
        Save
      </button>
    </div>
  </form>
</div>