.customer-type{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px;
}
.form-container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #347265;
  border-radius: 10px;
  background: #fff;
  color: #0a4e44;
  box-shadow: 0 0 10px rgba(198, 13, 13, 0.1);
}
h2 {
  text-align: center;
  color: #12795f;
}
h3 {
  margin-top: 20px;
  color: #444;
  border-bottom: 1px solid #ccc;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid #32a191;
}
.btn-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  color: red;
}
button {
  flex: 1;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: red;
}
button{
  background: #068b5d;
}
.kyc-documents {
  margin: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;

}
.document{
  border-radius: 5px;
  display: flex;
  flex-direction : row;
  gap:40px;
}
.heading {
  color: white;
  border: 2px solid #0a5c50;
  padding-bottom: 5px;
  text-align: center;
  height: 30px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #0f7d6d;
}
.fa-solid{
  color: rgb(37, 176, 137);
  font-size: 20px;
  margin: 10px;
}
.section {
  background-color: #f8ffff; 
  border: 1px solid #d9e9ec;
}
.form-label {
  font-size: 14px;
}
input, select {
  font-size: 13px;
  text-transform: uppercase;
  width: 200px;
}
.address{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  padding: 10px;
  border: .5px solid #347265;
  border-radius: 5px;
}
.text-danger {
  color: red;
}
.Demographic{
  margin-top: 20px;
}
.communicationaddress{  
  display: flex;
  font-style: normal;
  justify-content: center;
  align-items: center;
 }
.communicate{
  width: 300px;
}
.box{
  width:15px;
  margin-top: 15px;
}
/* .address1{
  border-bottom: 2px solid rgb(71, 69, 69) ;
} */
.btn-save {
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
}

.btn-save:disabled {
  background-color: #cccccc; 
  color: #666666;
  cursor: not-allowed;
  opacity: 0.7; 
}